<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Cámara
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="fotoForm" (ngSubmit)="submitForm()">
    
    <!-- Capturar Foto -->
    <ion-item>
      <ion-label position="stacked">Foto</ion-label>
      <ion-button expand="full" (click)="takePicture()">Tomar Foto</ion-button>
    </ion-item>
    <img *ngIf="foto" [src]="foto" class="preview-image" />

    <!-- Ubicación -->
    <ion-item>
      <ion-label position="stacked">Ubicación</ion-label>
      <ion-input formControlName="ubicacion"></ion-input>
    </ion-item>

    <!-- Descripción -->
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <!-- Fecha de Captura -->
    <ion-item>
      <ion-label position="stacked">Fecha de Captura</ion-label>
      <ion-datetime formControlName="fecha_captura"></ion-datetime>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="fotoForm.invalid">
      Guardar
    </ion-button>
    <p>Formulario válido: {{ fotoForm.valid }}</p>
  </form>
</ion-content>

