<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Cámara
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

    <!-- Capturar Foto -->
    <ion-item>
      <ion-label position="stacked">Foto</ion-label>
      <ion-button expand="full" (click)="takePicture()">Tomar Foto</ion-button>
    </ion-item>
    <img *ngIf="foto" [src]="foto" class="preview-image" />

    <ion-button *ngIf="file" expand="full" (click)="subirImagen()">Subir Foto</ion-button>


  <!-- Seleccion tipo animal foto -->
  <ion-item>
    <ion-label position="floating">Seleccione un animal</ion-label>
    <ion-select [(ngModel)]="animalSeleccionadoId" (ionChange)="onAnimalChange()">
      <ion-select-option *ngFor="let option of animales" [value]="option.id">
        {{ option.nombre_comun }}
      </ion-select-option>
    </ion-select>
  </ion-item>



    <!-- Descripción -->
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>

    <!-- Ubicación -->
    <ion-item>
      <ion-label position="stacked">Ubicación</ion-label>
      <ion-textarea [(ngModel)]="ubicacion"></ion-textarea>
    </ion-item>
<!-- Estado del animal -->
    <ion-item>
      <ion-label position="floating">Estado del Animal</ion-label>
      <ion-select [(ngModel)]="estadoAnimal">
        <ion-select-option *ngFor="let option of (['LEVE', 'MODERADO', 'GRAVE', 'FALLECIDO', 'DESCONOCIDO', 'SANO'])" [value]="option">
          {{ option }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <p>Estado seleccionado: {{ estadoAnimal }}</p>

    <!-- Fecha de Captura
    <ion-item>
      <ion-label position="stacked">Fecha de Captura</ion-label>
      <ion-datetime formControlName="fecha_captura"></ion-datetime>
    </ion-item>-->

    <ion-button expand="full"  (click)="enviarAnimalRescate()">
      Buscar rescates con este animal
    </ion-button>

    <!-- Lista de rescates filtrados -->
  <ion-list *ngIf="rescatesFiltrados.length > 0">
    <ion-item *ngFor="let rescate of rescatesFiltrados">
      <ion-label>
        <h2>Rescate ID: {{ rescate.id }}</h2>
        <p>Estado: {{ rescate.estado_rescate }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="rescatesFiltrados.length === 0 && animalSeleccionadoId">
    <ion-label>No hay rescates para este animal.</ion-label>
  </ion-item>

<!-- Lista de fotos del rescate
<ion-list *ngIf="fotos.length > 0">
  <ion-item *ngFor="let foto of fotos; let i = index" (click)="onFotoClick(rescatesFiltrados[i].id)">
    <ion-thumbnail slot="start">
      <img [src]="getImagen(foto)" alt="Foto del rescate" />
    </ion-thumbnail>
    <ion-label>
      <p>Fecha: {{ foto.fecha_captura }}</p>
      <p>Fecha: {{ foto.url_foto }}</p>
      <p>Ubicación: {{ foto.ubicacion }}</p>
      <p><strong>ID Rescate:</strong> {{ rescatesFiltrados[i].id }}</p>
    </ion-label>
  </ion-item>
</ion-list>-->

<ion-item *ngFor="let foto of fotos" (click)="onFotoClick(foto.rescate_id)">
  <ion-thumbnail slot="start">
    <img [src]="getImagen(foto)" alt="Foto del rescate" />
  </ion-thumbnail>
  <ion-label>
    <p>Fecha: {{ foto.fecha_captura }}</p>
    <p>Foto: {{ foto.url_foto }}</p>
    <p>Ubicación: {{ foto.ubicacion }}</p>
    <p *ngIf="getRescateById(foto.rescate_id)"><strong>ID Rescate:</strong> {{ foto.rescate_id }}</p>
  </ion-label>
</ion-item>


<ion-button expand="full" *ngIf="rescateId" (click)="resetRescateSeleccionadoId()" color="danger">
  Eliminar Seleccion
</ion-button>

<p>Rescate a editar: {{ rescateId }}</p>
  <ion-button expand="full"  (click)="subirRescate()">
    Subir rescate
  </ion-button>
</ion-content>

