<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Cámara
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

    <!-- Capturar Foto -->
    <ion-item>
      <ion-label position="stacked">Foto</ion-label>
      <ion-button expand="full" (click)="takePicture()">Tomar Foto</ion-button>
    </ion-item>
    <img *ngIf="foto" [src]="foto" class="preview-image" />

    <ion-button *ngIf="file" expand="full" (click)="subirImagen()">Subir Foto</ion-button>


  <!-- Seleccion tipo animal foto -->
    <ion-item>
      <ion-label position="floating">Seleccione un animal</ion-label>
      <ion-select [(ngModel)]="animalSeleccionado">
        <ion-select-option *ngFor="let option of results" [value]="option.id">
          {{ option.nombre_comun }}
        </ion-select-option>
      </ion-select>
    </ion-item>



    <!-- Descripción -->
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>

    <!-- Fecha de Captura
    <ion-item>
      <ion-label position="stacked">Fecha de Captura</ion-label>
      <ion-datetime formControlName="fecha_captura"></ion-datetime>
    </ion-item>-->

    <ion-button expand="full"  (click)="enviarAnimalRescate()">
      Buscar rescates con este animal
    </ion-button>

</ion-content>

