<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-icon name="paw" slot="start" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>Animales</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="light">

  <ion-searchbar class="sticky-top" [debounce]="1000" (ionInput)="handleInput($event)" (click)="handleSearchbarClick()"></ion-searchbar>

  <ion-item id="elementos">
    <ion-list class="d-flex flex-column row w-100">
      <ion-item class="w-100 m-0 p-0" lines="none">
        <ion-button (click)="cambioFamilia('MAMIFERO')" shape="round" class="col w-100 h-75 animal_button fs-6 fw-bold" fill="outline" [ngClass]="{'selected': isFamiliaSelected('MAMIFERO')}">Mamíferos</ion-button>
        <ion-button (click)="cambioFamilia('AVES')" shape="round" class="col w-100 h-75 animal_button  fs-6 fw-bold" fill="outline" [ngClass]="{'selected': isFamiliaSelected('AVES')}">Aves</ion-button>
      </ion-item>

      <ion-item class="w-100 m-0 p-0" lines="none">
        <ion-button (click)="cambioFamilia('ANFIBIO')" shape="round" class="col w-100 h-75 animal_button  fs-6 fw-bold" fill="outline" [ngClass]="{'selected': isFamiliaSelected('ANFIBIO')}">Anfíbios</ion-button>
        <ion-button (click)="cambioFamilia('REPTIL')" shape="round" class="col w-100 h-75 animal_button  fs-6 fw-bold" fill="outline" [ngClass]="{'selected': isFamiliaSelected('REPTIL')}">Reptiles</ion-button>
      </ion-item>

      <ion-item class="w-100 m-0 p-0" lines="none">
        <ion-button (click)="cambioFamilia('PECES')" shape="round" class="col w-100 h-75 animal_button  fs-6 fw-bold" fill="outline" [ngClass]="{'selected': isFamiliaSelected('PECES')}">Marinos</ion-button>
      </ion-item>

    </ion-list>
  </ion-item>

  <ion-list id="lista" *ngIf="animales.length > 0">
    <ion-item *ngFor="let animal of results" button details="false" (click)="haciaDatosAnimal(animal.id)">
      <ion-thumbnail slot="start">
        <ion-img [src]="animal.foto" [alt]="animal.nombre_comun"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ animal.nombre_comun }}</h2>
        <p><strong>Especie:</strong> {{ animal.especie }}</p>
        <p><strong>Estado de Conservación:</strong> {{ animal.estado_conservacion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
