<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>Animales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Animales</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar class="sticky-top" [debounce]="1000" (ionInput)="handleInput($event)" (click)="handleSearchbarClick()"></ion-searchbar>

  <ion-item id="elementos">
    <ion-list class="d-flex flex-column row w-100">
      <ion-item class="w-100 m-0 p-0" lines="none">
        <ion-button shape="round" class="col w-100 h-75 animal_button fs-6 fw-bold" fill="outline">Mamíferos</ion-button>
        <ion-button shape="round" class="col w-100 h-75 animal_button  fs-6 fw-bold" fill="outline">Aves</ion-button>
      </ion-item>
      
      <ion-item class="w-100 m-0 p-0" lines="none">
        <ion-button shape="round" class="col w-100 h-75 animal_button  fs-6 fw-bold" fill="outline">Anfibios</ion-button>
        <ion-button shape="round" class="col w-100 h-75 animal_button  fs-6 fw-bold" fill="outline">Reptiles</ion-button>
      </ion-item>
      
      <ion-item class="w-100 m-0 p-0" lines="none">
        <ion-button shape="round" class="col w-100 h-75 animal_button  fs-6 fw-bold" fill="outline">Ejemplo3</ion-button>
      </ion-item>
      <ion-select aria-label="Reino" placeholder="" label="Reino Animal" [multiple]="true">
        <ion-select-option value="apples">Felinos</ion-select-option>
        <ion-select-option value="oranges">Caninos</ion-select-option>
        <ion-select-option value="bananas">Equinos</ion-select-option>
      </ion-select>
    </ion-list>
  </ion-item>

  <ion-list id="lista" *ngIf="showList && animales.length > 0">
    <ion-item *ngFor="let animal of results" button (click)="handleItemClick(animal.nombre_comun)">
      <ion-thumbnail slot="start">
        <ion-img [src]="animal.foto" [alt]="animal.nombre_comun"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ animal.nombre_comun }}</h2>
        <p><strong>Especie:</strong> {{ animal.especie }}</p>
        <p><strong>Estado de Conservación:</strong> {{ animal.estado_conservacion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
